@{
    ViewData["Title"] = "User";
}

<div id="app"></div>

@section Scripts {
<environment include="Development">
    <script src="~/js/chunk-vendors.bundlechunk.js"></script>
    <script src="~/js/user.bundle.js"></script>
</environment>
}