@{
    ViewData["Title"] = "User";
}

<div id="app"></div>

@section Scripts {
<environment include="Development">

    <link href="~/css/chunk-vendors.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/chunk-vendors.bundlechunk.js" asp-append-version="true"></script>
    <script src="~/js/user.bundle.js" asp-append-version="true"></script>
</environment>
}